body {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  font-family: Helvetica;
  color:#444;
  padding:0 10px;
}

div {
	margin:30px auto;
}

a {
  opacity: 0.5;
}

.link {
    padding-right: 15px;
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    opacity: 1;
}
