body {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  font-family: Helvetica;
  color:#444;
  padding:0 10px;
}

.links {
  margin: 20px auto;
  font-size: 14px;
}

.icons {
  display:inline;
  float: left;
}

.email {
  display:inline;
  float: right;
}

a {
  opacity: 0.5;
}

.link {
    padding-right: 15px;
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    opacity: 1;
}
